name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build and test on macOS
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Build program and run tests
        run: |
          gem install xcpretty
          make test | xcpretty -c && exit ${PIPESTATUS[0]}
